<div id="exam-start-mode-picker" class="d-flex align-items-start">
    <div class="btn-group">
        <div
            id="fixed-start-mode"
            class="btn"
            [class.btn-success]="!exam().hasDynamicStart"
            [class.btn-default]="exam().hasDynamicStart"
            (click)="setDynamicStart(false)"
            jhiTranslate="artemisApp.examManagement.startModeFixed"
        ></div>

        <div
            id="dynamic-start-mode"
            class="btn btn-default"
            [class.btn-primary]="exam().hasDynamicStart"
            [class.btn-default]="!exam().hasDynamicStart"
            (click)="setDynamicStart(true)"
            jhiTranslate="artemisApp.examManagement.startModeDynamic"
        ></div>
    </div>
</div>
